body{
    background-color: #f1c2c2;
}
.buttons {
    margin: 50px ;
}
.buttons button{
    background-color: rgb(189, 226, 133);
    color: rgb(38, 6, 135);
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
#ToastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.Toast{
    width: 400px;
    height: 80px;
    background: #f2efef;
    font-weight: 600;
    margin: 15px 0 ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft .5s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}
.Toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.Toast.Error i{
    color: red;
}
.Toast.Invalid i{
    color: rgb(236, 158, 13);
}
.Toast ::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3.5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}
.Toast.Error ::after {
    background: red;
}
.Toast.Invalid ::after {
    background: orange;
}